[Unit]
Description=Rotate HDMI displays on boot
After=graphical.target
Requires=graphical.target

[Service]
User=%USER%
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/local/bin/rotate_screens.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
