[Unit]
Description=Launch ROS 2 eye display
After=graphical.target network.target

[Service]
User=%USER%
Environment=DISPLAY=:0
Environment=ROS_DOMAIN_ID=0
WorkingDirectory=/home/%USER%/ros2_ws
ExecStart=/usr/bin/bash -c "source /opt/ros/jazzy/setup.bash && source install/setup.bash && ros2 launch eye_display_lld eye_launch.py"
Restart=on-failure

[Install]
WantedBy=graphical.target
