/* Background color */
/*
For the eye size we use percentages with vmax (viewport maximum). Another option could be vmin (viewport minimum).
vmin is a unit based on the smaller of the viewport's height or width. 1vmin is equal to 1% of the smaller dimension. So if height is smaller than width, 1vmin is 1% of the height.
vmax is a unit based on the larger of the viewport's height or width. 1vmax is equal to 1% of the larger dimension. So if height is smaller than width, 1vmax is 1% of the width.
*/
/* Define the size of the eye*/
/* Animation timing */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Disable scrolling */
}

body {
  background: #EAE0CE; /* Set background color */
}

#app {
  display: flex;
  width: 100%; /* Full width of the screen */
  height: 100%; /* Full height of the screen */
}

.wrap {
  flex: 1; /* Each wrap takes up half the screen width (flex 1 = devide every wrap equally, with two wraps this is 50% of screen)*/
  display: flex; /* Flex container for centering the eye */
  justify-content: center; /* Center horizontally within its half */
}

.eye-label {
  text-align: center; /* Centreer de tekst */
  font-size: 16px; /* Pas de lettergrootte aan naar wens */
  font-weight: bold; /* Maak de tekst vetgedrukt */
  margin-bottom: 10px; /* Voeg ruimte toe tussen de tekst en het oog */
}

.eye {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: white; /* Eye background color */
  border: 3px solid #000;
  border-radius: 50%; /* Keep the eye perfectly round */
  overflow: hidden; /* Hide overflowing content (When eye closes everything inside the eye will be hidden)*/
  width: 40vmax; /* Use variable for eye width */
  height: 40vmax; /* Maintain circular shape */
}

.iris {
  position: absolute;
  top: 50%; /* Center the iris vertically */
  left: 50%; /* Center the iris horizontally */
  width: 20vmax; /* Iris size relative to the eye */
  height: 20vmax; /* Iris size relative to the eye */
  background: #00f; /* Iris color */
  border-radius: 50%; /* Keep the iris round */
  transform: translate(-50%, -50%); /* Center the iris */
}

.pupil {
  position: absolute;
  top: 50%; /* Center the pupil vertically */
  left: 50%; /* Center the pupil horizontally */
  width: 10vmax; /* Pupil size relative to the eye */
  height: 10vmax; /* Pupil size relative to the eye */
  background: #000; /* Pupil color */
  border-radius: 50%; /* Keep the pupil round */
  transform: translate(-50%, -50%); /* Center the pupil */
}

.eyelid {
  position: absolute;
  width: 100%; /* Full width of the eye */
  /*both lids can be controlled with this value simultaneously*/
  height: 0%;
  background: #EAE0CE; /* Eyelid color */
  transition: height 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.eyelid.top {
  top: 0; /* Top eyelid (control) */
  border-bottom: 2px solid #000;
}

.eyelid.bottom {
  bottom: 0; /* Bottom eyelid (control) */
  border-top: 2px solid #000;
}

/*Configurations for expresions*/
@keyframes blink {
  0%, 100% {
    height: 0%; /* Oogleden helemaal open */
  }
  50% {
    height: 50%; /* Oogleden sluiten in het midden */
  }
}
.blink-active .eyelid {
  animation: blink 0.5s ease-in-out 1; /* Blink once */
}

/* Sad animation (sad expression) */
@keyframes sad_eyelid {
  0%, 10% {
    height: 0; /* Normal position */
  }
  20%, 40% {
    height: 70%; /* Lower for sad look */
  }
  50%, 100% {
    height: 0; /* Back to normal */
  }
}
@keyframes sad_iris {
  0%, 10% {
    top: 50%; /* Normal position */
  }
  20%, 40% {
    top: 70%; /* Lower for sad look */
  }
  50%, 100% {
    top: 50%; /* Back to normal */
  }
}
/* Sad expressie */
.sad .eyelid.top {
  border-radius: 50%;
  animation: sad_eyelid 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

.sad .iris {
  animation: sad_iris 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

@keyframes grin_eyelid {
  0%, 10% {
    height: 0; /* Normal position */
  }
  20%, 40% {
    height: 70%;
  }
  50%, 100% {
    height: 0; /* Back to normal */
  }
}
@keyframes grin_iris {
  0%, 10% {
    top: 50%; /* Normal position */
  }
  20%, 40% {
    top: 30%; /* Raise for grin */
  }
  50%, 100% {
    top: 50%; /* Back to normal */
  }
}
.grin .eyelid.bottom {
  border-radius: 50%;
  animation: grin_eyelid 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

.grin .iris {
  animation: grin_iris 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

/* Look up */
@keyframes look_up_iris {
  0%, 100% {
    top: 50%; /* Normal position */
  }
  50% {
    top: 30%; /* Raise for look up */
  }
}
.look-up .iris {
  animation: look_up_iris 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

@keyframes random_iris {
  0% {
    top: 50%;
    left: 50%;
  }
  25% {
    top: 83.0379077898%;
    left: 91.0138754714%;
  }
  50% {
    top: 21.1176161834%;
    left: 28.1677197161%;
  }
  75% {
    top: 0.5998909294%;
    left: 60.1514320511%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
.look-random .iris {
  animation: random_iris 5s 1;
}

/*# sourceMappingURL=styles.css.map */
